.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
.eslintrc.json
tsconfig.json
tslint.json
src/**
!out/**
node_modules/**/test/**
test/**
**/*.ts
!out/**/*.js
*.vsix
.git
.github
.DS_Store